*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.gz
*.toc
*.xdv
kirinakuni-math-text.log
kirinakuni-math-text.synctex.gz
kirinakuni-math-text.xdv
kirinakuni-math-text.pdf
kininaruki.cls
kirinakuni-math-text.pdf
